<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_marfol"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="mainActivity.Inicio"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Google ADS -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name="mainActivity.menu.historial.HistorialBd"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.menu.historial.detalle.DetalleHistorialBd"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.menu.crudBd.detalle.DetalleEditarPlatosBd"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.crud.RecordarPlatoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.menu.crudBd.detalle.DetalleEditarRestaurantesBd"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.menu.crudBd.EditarRestaurantesBd"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.menu.crudBd.EditarPersonasBd"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.menu.crudBd.EditarPlatosBd"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.menu.crudBd.detalle.DetalleEditarPersonaBd"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.menu.crudBd.Seleccion"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC1JbQNg7WkFD4zGdVr1Y-RkaWtluXStKE" />

        <activity android:name="mainActivity.menu.AboutUs" />
        <activity
            android:name="mainActivity.menu.detalle.DetallePlatoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.menu.detalle.CompartirListaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.DesgloseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.menu.detalle.DetallePersonaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="login.EditarDatos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.crud.AnadirPlatoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="mainActivity.crud.AnadirParticipanteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="login.RecoverActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="login.RegistroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.ParticipantesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="login.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="login.AuthActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="mainActivity.IndexActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>