<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_marfol"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="mainActivity.detalle.CompartirListaActivity"
            android:exported="false" />
        <activity
            android:name="mainActivity.DesgloseActivity"
            android:exported="false" />
        <activity
            android:name="mainActivity.detalle.DetallePersonaActivity"
            android:exported="false" />
        <activity
            android:name="login.EditarDatos"
            android:exported="false" />
        <activity
            android:name="mainActivity.crud.AnadirPlatoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="mainActivity.crud.AnadirParticipanteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="login.RecoverActivity"
            android:exported="false" />
        <activity
            android:name="login.RegistroActivity"
            android:exported="false" />
        <activity
            android:name="mainActivity.ParticipantesActivity"
            android:exported="false" />
        <activity
            android:name="login.HomeActivity"
            android:exported="false" />
        <activity
            android:name="login.AuthActivity"
            android:exported="true" />
        <activity
            android:name="mainActivity.IndexActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>